
        *{
            /* border: 1px solid rgb(8, 8, 8); */
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            }
            body{
                margin: 0px;
            padding: 0px;
            }
            .nav{
                top: 0;
                position: fixed;
                background-color: white;
            }
            .navtop {
                /* border: 1px solid black; */
                display: flex;
                justify-content: end;
                font-size: 11px;
                margin-top: 5px;
            }
            .navtop img{
                width: 1%;
            }
            .navtop a {
                margin-right: 30px;
                margin-left: 5px;
                color: gray;
            }
            .navtop a:hover {
                text-decoration: underline;
            }
            .navtop span {
                margin-left: 7px;
            }
            /* navitation bar button part  */
    
            .navButtom {
                /* border: 2px solid red; */
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-template-rows: repeat(1,70px);
                font-size: 17px;
                background-color: white;
                position: sticky;
            }
            #cart{
                padding: 2px;
            }
            .nav #logo{
                width: 50%;
                padding-top: 10px;
                margin-left: 40px;
            }
            .navButtom > div:nth-child(2){
                /* border: 2px solid rgb(7, 10, 193); */
                grid-area: 1/2/2/4;
                display: flex;
                align-items:center;
                padding-top: 10px;
                padding-bottom: 3px;
            }
            .navButtom > div:nth-child(2) a {
                margin-left: 25px;
                color: rgb(89, 87, 87);
            }
            #nav-sale {
                color: red;
            }
            #navbar .navButtom > div:nth-child(2) a:hover {
                color: rgb(255, 255, 255);
                background-color: black;
                padding: 8px;
            }
            .navButtom > div:nth-child(3){
                /* border: 2px solid rgb(19, 232, 197); */
                display: flex;
                justify-content: end;
                align-items: center;
                padding-right: 20px;
            }
            .nav .navButtom  img {
                width: 6%;
            }
            .navButtom #search{
                /* border: 1px solid rgb(42, 42, 38); */
                width: 100px;
                height: 23px;
                display: block;
                margin-right: 10px;
            }
    
            .notification{
                background-color:rgb(196,11,11);
                display: flex;
                height: 35px;
                justify-content: center;
                align-items: center;
                font-size: 13px;
                color: white;
                font-weight: bold;
                font-family: 'Poppins', sans-serif;
            }
            .notification a {
                background-color:rgb(196,11,11);
                margin-left: 5px;
                color: white;
                font-weight: bold;
                text-decoration: underline;
                border: none;
            }
    
            /*----------- conatiner style----------  */
            #container{
                /* border: 2px solid red; */
                margin-top: 130px;
                text-align: center;
    
            }
            #sortby{
                font-size: 12px;
                font-weight: bold;
            }
    
    
     /*----------------- containerPart1 ----------------*/
    
            .containerPart1{
                /* border: 2px solid red; */
                    font-size: 12px;
                    color: rgb(93, 92, 92);
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 30px;
    
            }
            .containerPart1 a{
                    font-size: 12px;
                    color: rgb(2, 2, 2);
                    text-align: center;
            }
            .containerPart1 label{
                    font-size: 13px;
                    color: rgb(113, 113, 113);
                    text-align: center;
            }
            .underline{
                color: rgb(74, 71, 71);
                text-decoration: line-through;
            }
            .red{
                color: red;
                font-weight: 200;
            }
    
     /*----------------- containerPart2 ----------------*/
    
    
            .containerPart2{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 0 15px;
                padding-bottom: 5px;
                padding-left: 10px;
            }
            .containerPart2 > div:nth-child(1) h5 {
                padding: 0px;
                margin: 0px;
                padding-top: 10px;
                font-size: 12px;
            }
            .containerPart2 > div:nth-child(1) div {
                color: gray;
                font-size: 12px;
                font-style: italic;
                letter-spacing: 1px;
            }
            #filter{
                height: 45px;
                width: 160px;
                border: none;
                border: 1px solid rgb(210, 207, 207);
            }
            .filter:after {
                position: absolute;
                content: "";
                top: 14px;
                right: 10px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-color: #fff transparent transparent transparent;
              }
              
            #head{
                /* border: 2px solid red; */
                margin-left: -400px;
                margin-bottom: -20px;
            }
            
            /* hover drop down menu  */
            #leftside{
                /* border: 2px solid black; */
                padding: 10px 0;
                width: 120%;
                margin-bottom: 10px;
                padding-right: 30px;
                margin-left: 20px;
    
            }#leftside>div {
                /* border: 2px solid rgb(24, 243, 38); */
                padding: 12px;
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                border-bottom: 1px solid rgb(156, 156, 156);
            }
            #leftside a {
                font-size: 11px;
                padding: 5px;
            }
            #leftside > div a:hover {
                background-color: rgb(0, 0, 0);
                font-size: 11px;
                padding: 5px;
                color: white;
                width: 100%;
            }
            #leftside>div div {
                /* border: 2px solid rgb(25, 81, 249); */
               width: 30%;
               
                
            }
            #leftside>div img {
                /* border: 2px solid rgb(25, 81, 249); */
               width: 10%;
               margin-left: 70px;
            }
            #containerend1{
             /* border: 2px solid rgb(25, 81, 249); */
                background-color: rgb(6, 6, 6);
                width: 10%;
                height: 25px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 10px;
                margin: auto;
                margin-top: 70px;
            }
            #containerend1 a{
                color: white;
                text-decoration: none;
            }
            #containerend1 ~ div {
                /* border: 2px solid red; */
                color: rgb(103, 102, 102);
                text-align: left;
                margin-left: 25px;
                padding-top: 10px;
            }
            .change{
                width: 100%;
            }
            .plussign{
                width: 5%;
                margin-left: 250px;
                display: inline;
                
            }
            .dropdown-content img:hover{
                animation: rotate 6s infinite;
            }

            .plussign:hover{
                animation: rotate 6s infinite;
            }

            @keyframes rotate{
                0%{
                    transform: rotate(0deg);
                }
                50%{
                    transform: rotate(90deg);
                }
                100%{
                    transform: rotate(0deg);
                }
            }
            
            #showdata{
                /* border: 2px solid rgb(0, 255, 187); */
                display: grid; 
                 grid-template-columns: repeat(4,1fr);
                gap: 20px 20px;
                color: rgb(57, 55, 55);
                font-size: 14px;
                margin-left: 5px;
                margin-top: 20px;
                margin-right: 10px;
            }
            #datappend  {
                /* border: 2px solid black; */
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 20px 20px;
                color: rgb(57, 55, 55);
                font-size: 14px;
    
            }
            #datappend>div:nth-child(1){
                grid-area: 1/1/2/2;
                width: 90%;
            }
            #displayData {
                grid-area: 1/2/2/4;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 20px 20px;
            }
    
    /*----------------- bottum part ------------ */
            
    
        #bottom{
        /* color: rgb(39, 38, 38); */
        /* width: 100%; */
        margin-left: 15px;
        font-family: 'Quicksand', sans-serif;;
        }
        #bottom img {
        width: 4%;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 5px;
        }
        #bottom> div a {
        display: block;
        font-size: 12px;
        margin-left: 9px;
        color: rgb(44, 43, 43);
        }
        #bottom> div a:hover {
        text-decoration: underline;
        }
        #bottom> div p:hover {
        text-decoration: underline;
        }
        #bottomTop{
        border-top: 1px solid rgb(160, 160, 160);
        display: flex;
        justify-content: center;
        margin-top: 50px;
        padding-top: 30px;
        }
        #bottomTop>div {
        border: 1px solid rgb(92, 92, 92);
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 70px;
        margin-left: 70px;
        }
        #bottomMid   {
        /* border: 2px solid black; */
        display: grid;
        grid-template-columns: repeat(3,1fr);
        border-bottom: 1px solid gray;
        /* margin-bottom: 40px; */
        padding-bottom: 25px;
        
        }
        #bottomMid >div {
        /* border: 2px solid green; */
        margin-top: 20px;
        
        
        }
        #bottomMid >div  div{
        /* border: 2px solid rgb(230, 119, 17); */
        margin-top: 20px;
        
        }
        #bottomMid p {
        padding-left: 42px;
        font-size: 12px;
        }
        #bottomBottom{
        margin-top: 0px;
        font-size: 10px;
        margin-bottom: 40px;
        color: rgb(66, 64, 64);
        }
        #facebook  {
        /* border: 2px solid rebeccapurple; */
        margin-left: 14px;
        margin-bottom: 15px;
        }
        #facebook ~ img {
        margin-top: 15px;
        margin-left: 14px;
        }
        

        
    /* medium screens */
    /* #datappend  {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px 20px;
        color: rgb(57, 55, 55);
        font-size: 14px;

    }
    #datappend>div:nth-child(1){
        grid-area: 1/1/2/2;
        width: 90%;
    }
    #displayData {
        grid-area: 1/2/2/4;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px 20px;
    } */

@media screen and (max-width:780px){

    #bottomTop{
        flex-direction: column;
    }
    #bottomTop>div:nth-child(2){
        margin-top: 10px;
    }
    #cards{
        grid-template-columns: repeat(3,1fr);
    }


    #bottomMid   {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        border-bottom: 1px solid gray;
        /* margin-bottom: 40px; */
        padding-bottom: 25px;
        
        }

    #bottomMid>div:nth-child(3){
        display: none;
    }
    

    .navtop >img{
        display: none;
    }

    .navButtom{
        display: flex;
        justify-content: space-around;
    }

    .navButtom>div:nth-child(2){      
        display: none;
    }
    .navtop{
        display: none;
    }

    #leftside{
        display: none;
        padding: 0;
        margin: 0;
    }

    #showdata{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }

    #displayData {
        grid-area: 1/1/2/4;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px 20px;
        margin-left: 0;
    }

    #displayData > div:nth-child(3) {
        display: none;

    }
    #head > h4{
        display: none;
    }
}


/* small screen  */


@media screen and (max-width:480px){
    #cards{
        grid-template-columns: repeat(2,1fr);
    }

    #cards>div:nth-child(5){
        display: none;
    }
    #bottomMid   {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        
        }
    #bottomMid>div{
        border-top: 1px solid black;
    }

        #bottomMid>div:nth-child(3){
            display: block;
        }
        #showdata{
            grid-template-columns: repeat(1,1fr);
            width: 100%;
        }
    
        #displayData {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 20px 20px;
            margin-left: 0;
        }
}